<h1>O aplikacji</h1>
<p>Aplikacja „Kontakty” służy do gromadzenia danych o różnych osobach, a także różnych ciekawych akcji dodatkowych</p>
<p>
  W aplikacji wykorzystałem następujące gemy:
  <ul>
    <li>will_paginate</li>
    <li>gravatar</li>
  </ul>
</p>
<p>
  Rozwijając program, korzystałem z wiedzy zawartej w książce Michaela Hartl'a Rails 3 Tutorial
</p>
