<tr>
  <td class="contact">
    <span><%= link_to "#{contact.name} #{contact.surname}", contact %></span>
    <% if current_user?(contact.user) -%>
      <%= link_to "delete", contact,  :method => :delete,
                                      :confirm => "Are you sure?", 
                                      :title => "Delete #{contact.name}"   %>
    <% end -%>
    </td>
</tr>
